*
!*/
!*.cpp
!*.h
!*.hpp
!Makefile
!.gitignore
!*.md
!Dockerfile
!.dockerignore
build
.deps/
!CMakeLists.txt
!*.sh
!third_party/preview_lib
YA_NCDU_PREVIEW_ARCHITECTURE.md
DUWIZ_PREVIEW_ARCHITECTURE.md
